.mobile-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
  z-index: 1000;
 
}

.mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    height: 100%;
    background-color: var(--background-color);
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    z-index: 1000;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .close-mobile {
    align-self: flex-end;
    font-size: 1.5em;
    border: none;
    cursor: pointer;
  }
  
  .mobile-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .link,
  .bottun-primary {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    text-align: center;
  }
  
  .btn-primary {
    background: none;
    border: none;
    cursor: pointer;
  }

  
  mobile-menu-hamburguer{
    display: none;
}
/* 
.mobile-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: flex-end;
  z-index: 1000;
}

.mobile-menu {
  width: 80%;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.close-mobile {
  align-self: flex-end;
  font-size: 1.5em;
  background: none;
  border: none;
  cursor: pointer;
}

.mobile-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.link,
.linkButton {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  text-align: center;
}

.linkButton {
  background: none;
  border: none;
  cursor: pointer;
}

.Btn-primary {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
}

.Btn-primary:hover {
  background: #0056b3;
}  */
