.favoritas {
    max-width: 1200px;
    width: 100%;
    height: max-content;
    padding: 20px 20px;
    margin: 0px auto;
    background-color: #8a3c3c;

}

.favoritas .sem-favoritos {
    color: white;
    font-size: 24px;
    text-align: center;
}

.conteudo-favoritas {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
}