html {
    font-size: 62.5%;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 350px;
    max-width: 1200px;
    padding: 0 0 0 20px;
    background-color: #7D1C20;
    margin: 0 auto;
}

.banner h2 {
    color: #FFF8F8;
    font-size: 96px;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 300;
    font-style: italic;
    width: 100%;
    max-width: 438px;
}

.banner img {
    width: 80%;
    max-width: 685px;
    margin-top: 60px;
    z-index: 10;
}

.tag {
    z-index: 99;
    position: absolute;
    bottom: 490px;
    left: 10px;
}



@media screen and (max-width: 1000px) {

    .banner {
        height: 300px;
    }

    .banner img {
        width: 70%;
    }

    .banner h2 {
        font-size: 76px;
    }

}

@media screen and (max-width: 850px) {

    .banner {
        height: 270px;
    }

    .banner h2 {
        font-size: 66px;
    }

}

@media screen and (max-width: 700px) {
    .banner {
        height: 230px;
    }

    .banner h2 {
        font-size: 46px;
    }

}

@media screen and (max-width: 550px) {
    .banner {
        height: 180px;
    }

    .banner h2 {
        font-size: 32px;
    }
}

@media screen and (max-width: 470px) {
    .banner {
        height: 140px;
    }

    .banner img {
        width: 60%;
    }
}